<page-title ng-if="layoutOptions.pageTitles" title="Add New Question" description=""></page-title>
<div ng-controller="createNewUserCtrl">
<script type="text/ng-template"></script>



<form role="form" name="" class="form-horizontal" ng-submit="">

    <div class="form-group">
        <label class="col-sm-3 control-label">Select Question Type</label>
        <div class="col-sm-5">
            <select class="form-control" name="role" ng-model="questionType">
                <option value="" ng-hide="true">Select</option>
                <option value="generalQuestion">General Question</option>
                <option value="technicalQuestion">Technical Question</option>
                <option value="videoQuestion">Video Question</option>
            </select>
        </div>
    </div>


    <div ng-switch="questionType">
        <div ng-switch-when="generalQuestion">
           <div ng-include src="'app/views/questionBank/addGeneralQuestion_tpl.html'"></div>

        </div>
        <div ng-switch-when="technicalQuestion">
            <div ng-include src="'app/views/questionBank/addTechnicalQuestion_tpl.html'"></div>

        </div>
        <div ng-switch-when="videoQuestion">
            <div ng-include src="'app/views/questionBank/addVideoQuestion_tpl.html'"></div>

        </div>
        <div ng-switch-default>
           <!-- <div ng-include src="'app/views/questionBank/addGeneralQuestion_tpl.html'"></div>-->
        </div>

    </div>


    <!--<div ng-if="questionType=='generalQuestion'" ng-include src="'app/views/questionBank/addGeneralQuestion_tpl.html'"></div>
    <div ng-if="questionType=='technicalQuestion'" ng-include src="app/views/q" class="row"></div>
    <div ng-if="questionType=='videoQuestion'" ng-include src="app/views/q" class="row"></div>
-->


    </form>
    </div>
