<page-title ng-if="layoutOptions.pageTitles" title="Create New User" description=""></page-title>
<div class="" style="margin-top: -25px; margin-bottom: -15px;">
    <ol class="breadcrumb bc-1"  xe-breadcrumb>
        <li> <a href="index.html#/app/dashboard"><i class="fa-home"></i>Dashboard</a> </li>
        <li> <a href="">Users</a> </li>
        <li class="active"> <strong>Create User</strong> </li>
    </ol>
</div>
<div ng-controller="createNewUserCtrl">
<script type="text/ng-template"></script>

<style>
    .cropArea {
        background: #eeeeee;
        overflow: hidden;
        width:200px;
        height:200px;
        border-style: ridge;
    }

    .mandatory{
        color: red;
    }

</style>



<form role="form" enctype="multipart/form-data" name="newUserForm" class="form-horizontal" ng-submit="submitNewUser();disableClick(newUserForm.$valid);" ng-cloak> <!--ng-submit="disableClick(newUserForm.$valid)"-->


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">User Details</h3>
                <!-- <div class="panel-options">
                    <a href="" data-toggle="panel">
                        <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>
                    &lt;!&ndash;
                    <a href="" data-toggle="remove">
                            &times;
                    </a>&ndash;&gt;
                </div>-->
            </div>

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Select Role<span class="mandatory">&nbsp;*</span></label>
                    <div class="col-sm-5">
                        <select ng-cloak required class="form-control" name="role" ng-options="role as role for role in roles"
                               ng-model="newUser.role" ng-change="update();">
                            <option value='' disabled selected>Select</option>
                        </select>
                    </div>
                </div>
                <div class="form-group-separator"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">First Name<span class="mandatory">&nbsp;*</span></label>
                    <div class="col-sm-5">
                        <div class="input-group input-group-sm input-group-minimal">
                            <span class="input-group-addon">
                                <i class="linecons-user"></i>
                            </span>
                            <input type="text" name="firstName" class="form-control" ng-model="newUser.firstName"
                                   placeholder="First Name" maxlength="64"
                                inputmask data-mask="[a-zA-Z][a-zA-Z ]*" data-is-regex="true" required="true">
                        </div>
                    </div>
                </div>
                <div class="form-group-separator"></div>
                <div class="form-group">
    				<label class="col-sm-3 control-label">Last Name<span class="mandatory">&nbsp;*</span></label>
					<div class="col-sm-5">
    					<div class="input-group input-group-sm input-group-minimal">
	    					<span class="input-group-addon">
		    					<i class="linecons-user"></i>
			    			</span>
				    		<input type="text" name="lastName" class="form-control" ng-model="newUser.lastName"
                                   placeholder="Last Name" maxlength="64"
                                inputmask data-mask="[a-zA-Z][a-zA-Z ]*" data-is-regex="true" required="true">
					   	</div>
                        <ng-messages>
                        </ng-messages>
					</div>
			    </div>
                
                <div class="form-group-separator"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">User Name<span class="mandatory">&nbsp;*</span></label>
                    <div class="col-sm-5">
                        <div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-user"></i>
							</span>
                            <input type="text" name="userName" class="form-control" ng-model="newUser.userName"
                                   placeholder="User Name" inputmask
                                   data-mask="^[a-zA-Z0-9]*([.&_]*)$"
                                   data-is-regex="true" maxlength="64" ng-minlength="1" required="true"
                                   ng-blur="checkUserExist(newUser.userName)">
                        </div>
                        <div ng-show="userNameExist" style="color: red;">{{userNameErrorMessage}}</div>
                    </div>
                </div>
    			<div class="form-group-separator"></div>
    			<div class="form-group">
					<label class="col-sm-3 control-label">Email Id<span class="mandatory">&nbsp;*</span></label>
					<div class="col-sm-5">
						<div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-mail"></i>
							</span>
							<input type="email" class="form-control" name="emailId" ng-model="newUser.emailId"
                                   placeholder="Enter your email Id" maxlength="64" required="true"
                                   ng-blur="checkEmailExist(newUser.emailId)">
						</div>
                        <div ng-show="emailExist" style="color: red;">{{emailErrorMessage}}</div>
                    </div>
				</div>
				<div class="form-group-separator"></div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Contact Number<span class="mandatory">&nbsp;*</span></label>
					<div class="col-sm-5">
						<div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-mobile"></i>
							</span>
							<input type="text" class="form-control" required="true" ng-model="newUser.contactNumber"
                                   name="contactNumber" ng-blur="checkContactNumberExist(newUser.contactNumber)" inputmask data-mask="phone" data-validate="minlength[10]"
                                   />


						</div>
                        <div ng-show="contactNumberExist" style="color: red;">{{contactNumberErrorMessage}}</div>
                    </div>
    			</div>
    			<div class="form-group-separator"></div>

            <!-- first part-->
            <!-- <div ng-if='showTSDiv'>-->
        </div>
    </div>
</div>
</div>
<div ng-if="newUser.role=='TechnicalScreener'" ng-include src="'app/views/users/tsSkills_tpl.html'"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Address (Optional)</h3>

            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Alternate Contact</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                <span class="input-group-addon">
                                    <i class="linecons-mobile"></i>
                                </span>
                                <input type="text" class="form-control" ng-maxlength="35" ng-minlength="1"
                                       ng-model="newUser.alternateContact" name="alternateContact"
                                       inputmask data-mask="phone" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address Line 1</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                                <span class="input-group-addon">
                                                    <i class="linecons-truck"></i>
                                                </span>
                                <input type="text" name="addressOne" ng-model="newUser.addressOne" class="form-control"
                                       placeholder="Street Address, P.O.Box, Company Name, C/o"
                                       inputmask data-is-regex="true"
                                       maxlength="64" >
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Address Line 2</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                                <span class="input-group-addon">
                                                    <i class="linecons-truck"></i>
                                                </span>
                                <input type="text" name="addressTwo" ng-model="newUser.addressTwo" class="form-control" placeholder="Apartment, Suit, Unit, Building, Floor, etc"
                                       inputmask data-is-regex="true" maxlength="64">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Zip Code</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                                <span class="input-group-addon">
                                                    <i class="linecons-truck"></i>
                                                </span>
                                <input type="text" ng-model="newUser.zipCode" name="zipCode" class="form-control"
                                       placeholder="Zipcode" inputmask data-mask="[0-9]*" data-is-regex="true"
                                       maxlength="6" minlength="1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                                <span class="input-group-addon">
                                                    <i class="linecons-truck"></i>
                                                </span>
                                <input ng-model="newUser.city" name="city" type="text" class="form-control" placeholder="City"
                                       inputmask data-mask="[a-zA-Z]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" >State</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                            <span class="input-group-addon">
                                                <i class="linecons-truck"></i>
                                            </span>
                                <input ng-model="newUser.state" name="state" type="text" class="form-control" placeholder="State"
                                       inputmask data-mask="[a-zA-Z]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1">
                            </div>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Country</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                                <span class="input-group-addon">
                                                    <i class="linecons-globe"></i>
                                                </span>
                                <input type="text" ng-model="newUser.country" name="country" class="form-control"  placeholder="Country"
                                       inputmask data-mask="[a-zA-Z]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">File Upload</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
                <div class="form-group">
                    <label class="col-sm-3 control-label">Upload Profile</label>
                    <div class="col-sm-5">
                        <input type="file" ng-model="profile" class="form-control">
                    </div>
                </div>
                <div class="form-group-separator"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Profile Picture</label>
                    <div class="col-sm-5">
                        <div class="cropArea" ng-hide="imageHide">
                            <img-crop image="myImage" result-image="myCroppedImage" area-type="square">
                            </img-crop>
                        </div>
                        <div style="text-align: left" ng-show="imageHide">

                            <img ng-src="{{myCroppedImage}}" />
                        </div>
                        <div style="margin-top: 10px;">
                            <input type="file" ng-click="imageHide=false" id="fileInput" />
                            <input style="margin-top: 5px; margin-left: -175px" type="button" value="Select" ng-click="imageHide=true" class="btn btn-blue">
                        </div>
                    </div>
                </div>

                <div class="form-group-separator"></div>

                <!--<div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Upload Photo</label>
                        <div class="col-sm-5">
                        <input type = "file" file-model = "myFile" class="form-control"/>
                        </div>
                        <div  class="col-sm-5">
                        <button class="btn btn-info" ng-click = "uploadFile()" accept=".gif, .jpg, .png,">Upload me</button>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>


<!--<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">File Upload</h3>
            </div>
            <div class="panel-body" style="text-align: center;">
                <div>Select an image file: <input type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                                  accept="image/*" ngf-max-height="1000" ngf-max-size="1MB" ng-click="imageHide=false" id="fileInput" /></div>
                <div class="cropArea" ng-hide="imageHide">

                    <img-crop image="myImage" result-image="myCroppedImage"
                              area-type="square">

                    </img-crop>
                </div>

                <div>{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                    <span class="progress" ng-show="f.progress >= 0">
          <div style="width:{{f.progress}}%"
               ng-bind="f.progress + '%'"></div>
                    </span>
                </div>
                {{errorMsg}}


                <input type="button" value="Crop" ng-click="imageHide=true" class="btn btn-blue">

                <div ng-show="imageHide">
                    <div>Cropped Image:</div>
                    <img ng-src="{{myCroppedImage}}" />
                </div>
            </div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align: center;">
                <input class="btn btn-info btn-icon" ng-disabled="isDisabled" type="submit" value="Submit"/>
                <input type="button" class="btn btn-warning btn-icon" ng-click="resetUserForm();" value="Reset">
                <a ui-sref="app.users-Display-Users"><input class="btn btn-danger btn-icon"
                                                          type="button" value="Cancel"/>
                </a>
                <!--<a href="" id="success_msg_1" class="btn btn-success">Success Message</a>
                <a href="" id="danger_msg_1" class="btn btn-danger">Danger Message</a>
                <a href="" id="warning_msg_1" class="btn btn-warning">Warning Message</a>-->
            </div>
        </div>
    </div>
</div>
</form>
</div>

<script type="text/javascript">
    jQuery(document).ready(function($)
    {
        $("#success_msg_1").click(function(ev)
        {
            ev.preventDefault();

            var opts = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-right",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr.success("User Created successful.", "Successful", opts);
        });

        $("#danger_msg_1").click(function(ev)
        {
            ev.preventDefault();

            var opts = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-top-full-width",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr.error("Error", opts);
        });

        $("#warning_msg_1").click(function(ev)
        {
            ev.preventDefault();

            var opts = {
                "closeButton": true,
                "debug": false,
                "positionClass": "toast-bottom-left",
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };

            toastr.warning("Warning", null, opts);
        });
    });
</script>


<script type="text/ng-template" id="modal-4">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reset Password</h4>
    </div>

    <div class="modal-body">

        <h4>Are you sure you want to Reset password for this user?</h4>
    </div>
    <br/>

    <div class="modal-footer">

        <button type="button" class="btn btn-info" ng-click="resetUserPassword(responseData.id);">Yes</button>
        <button type="button" class="btn btn-red" ng-click="currentModal.close();">No</button>
    </div>

</script>