

<page-title ng-if="layoutOptions.pageTitles" title="Users" description=""></page-title>
        <style>
            body {
                width: 98%;
            }
            .clickableRow {
                cursor: pointer;
            }
            p, textarea {
                font-variant: small-caps !important;
                text-rendering: auto;
            }
            td, th {
                font-size: 8pt;
            }
            table {
                padding: 0px;

            }
        </style>

<!-- Custom column filtering -->
<div class="panel panel-default" ng-controller="viewAllUserCtrl">

    <!--<div class="span12 well well-small">
        <div class="span5">
            <p class="nav-header">collapse/expand tableRow</p>
            <p class="small-caps">tableRowExpanded: <b>{{tableRowExpanded}}</b>

            </p>
            <p class="small-caps">tableRowIndexCurrExpanded: <b>{{tableRowIndexCurrExpanded}}</b>

            </p>
            <p class="small-caps">storeIdExpanded: <b>{{storeIdExpanded}}</b>

            </p>
        </div>
        <div class="span7">
            <p class="nav-header">dayDataCollapse</p>{{dayDataCollapse}}</div>
    </div>-->
    <!-- END $scope.[model] updates -->
    <!-- START TABLE -->
    <div class="span12">
        <table class="table table-hover table-condensed table-striped">
            <thead>
            <tr>
                <th>Store ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Cost</th>
                <th>Sales</th>
                <th>Revenue</th>
                <th>Employees</th>
                <th>Employees H-sum</th>
            </tr>
            </thead>
            <tbody data-ng-repeat="storedata in storeDataModel.storedata">
            <tr id="storedata.store.storeId" class="clickableRow" title="Click to toggle collapse/expand day summaries for this store." data-ng-click="selectTableRow($index, storedata.store.storeId)">
                <td>{{storedata.store.storeId}}</td>
                <td>{{storedata.store.storeName}}</td>
                <td>{{storedata.store.storeAddress}}</td>
                <td>{{storedata.store.storeCity}}</td>
                <td>{{storedata.data.costTotal}}</td>
                <td>{{storedata.data.salesTotal}}</td>
                <td>{{storedata.data.revenueTotal}}</td>
                <td>{{storedata.data.averageEmployees}}</td>
                <td>{{storedata.data.averageEmployeesHours}}</td>
            </tr>
            <tr>
                <td colspan="2">&nbsp;</td>
                <td colspan="7">
                    <div collapse="dayDataCollapse[$index]">
                        <div class="span12 pull-right">
                            <table class="table table-hover table-condensed table-striped">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Date [YYYY-MM-dd]</th>
                                    <th>Cost</th>
                                    <th>Sales</th>
                                    <th>Revenue</th>
                                    <th>Employees</th>
                                    <th>Employees H-sum</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr data-ng-repeat="dayData in storeDataModel.storedata[$index].data.dayData">
                                    <td class="pullright">
                                        <button type="btn btn-small" title="Click to show transactions for this specific day..." data-ng-click=""><i class="icon-list"></i>
                                        </button>
                                    </td>
                                    <td>{{dayData.date}}</td>
                                    <td>{{dayData.cost}}</td>
                                    <td>{{dayData.sales}}</td>
                                    <td>{{dayData.revenue}}</td>
                                    <td>{{dayData.employees}}</td>
                                    <td>{{dayData.employeesHoursSum}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>



    <!--panel started here-->
    <div class="panel-heading">
        <h3 class="panel-title">Showing All Users</h3>


        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">

        <script type="text/javascript">
            jQuery(document).ready(function($)
            {
                $("#example-3").dataTable().yadcf([
                    {column_number : 0, filter_type: 'text'},
                    {column_number : 1, filter_type: 'text'},
                    {column_number : 2, filter_type: 'text'},
                    {column_number : 3, filter_type: 'text'},
                    {column_number : 4, filter_type: 'text'},
                ]);
            });
        </script>

        <table class="table table-striped table-bordered" id="example-3">
            <thead>
            <tr class="replace-inputs">
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name(s)</th>
                <th>email Id</th>
                <th>Phone No</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-click="toggleDetail($index)">
                <td>Azhar</td>
                <td>Liaquat</td>
                <td>azhar</td>
                <td>azhar.liaquat@accionlabs.com</td>
                <td>9844580058</td>
            </tr>
            <tr ng-click="toggleDetail($index)">
                <td>Mudassir</td>
                <td>Hussain</td>
                <td>mudassir</td>
                <td>mudassir.h@accionlabs.com</td>
                <td>9865465324</td>
            </tr>
            <tr ng-click="toggleDetail($index)">
                <td>Sanjib</td>
                <td>Mallik</td>
                <td>sanjib</td>
                <td>Sanjib.mallik@accionlabs.com</td>
                <td>98875630058</td>
            </tr>
            <tr>
                <td>Nitish</td>
                <td>Kumar</td>
                <td>nitish</td>
                <td>nitish.kumar@accionlabs.com</td>
                <td>8767880058</td>
            </tr>
            <tr>
                <td>Revathi</td>
                <td>Murali</td>
                <td>revathi</td>
                <td>revathi.murali@accionlabs.com</td>
                <td>9235460058</td>
            </tr>
            <tr>
                <td>Raj</td>
                <td>Kumar</td>
                <td>raj</td>
                <td>raj.kumar@accionlabs.com</td>
                <td>8844453258</td>
            </tr>
            <tr>
                <td>Sachin</td>
                <td>Tendulkar</td>
                <td>sachin</td>
                <td>sachin.t@accionlabs.com</td>
                <td>8767545432</td>
            </tr>


            <tr class="extra-row" ng-show="activePosition == $index">
                <td colspan="5" >Details are here... dfdsf sdf s dfg dfg dfdfg gdfgdf</td>
            </tr>


            </tbody>
        </table>

    </div>
</div>
