

<page-title ng-if="layoutOptions.pageTitles" title="Users" description=""></page-title>
<style>
    body {
        width: 98%;
    }
    .clickableRow {
        cursor: pointer;
    }
    p, textarea {
        font-variant: small-caps !important;
        text-rendering: auto;
    }
    td, th {
        font-size: 8pt;
    }
    table {
        padding: 0px;

    }
</style>

<!-- Custom column filtering -->
<div class="panel panel-default" ng-controller="viewAllUserCtrl">


    <!--panel started here-->
    <div class="panel-heading">
        <h3 class="panel-title">Showing All Users</h3>


        <div class="panel-options">
            <a href="" data-toggle="panel">
                <span class="collapse-icon">&ndash;</span>
                <span class="expand-icon">+</span>
            </a>
            <a href="" data-toggle="remove">
                &times;
            </a>
        </div>
    </div>
    <div class="panel-body">

        <script type="text/javascript">
            jQuery(document).ready(function($)
            {
                $("#example-3").dataTable().yadcf([

                    {column_number : 0, filter_type: 'text'},
                    {column_number : 1, filter_type: 'text'},
                    {column_number : 2, filter_type: 'text'},
                    {column_number : 3, filter_type: 'text'},
                    {column_number : 4, filter_type: 'text'},
                    {column_number : 5,filter_type: 'text'},
                    {column_number : 6, filter_type: 'text'},
                    {column_number : 7, filter_type: 'text'}

                ]);
            });
        </script>

        <table class="table table-striped table-bordered" id="example-3">
            <thead>
            <tr class="replace-inputs">
                <th>User Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>User Name(s)</th>
                <th>email Id</th>
                <th>Phone No</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
             <tr ng-repeat="user in allUsers">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.emailId}}</td>
                <td>{{user.contactNumber}}</td>
                <td>{{user.role}}</td>
                <td>
                    <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-gray dropdown-toggle" data-toggle="dropdown" style="font-size: 11px;">
                        Action <span class="caret"></span>
                    </button>
                       <!-- style="font-size: 10px;background-color: #2c2e2f;color: white;"-->
                    <ul class="dropdown-menu dropdown-gray" role="menu" style="font-size: 11px;">
                        <li>
                            <a href="" ng-click="openAjaxModal('modal-2','user/'+user.id)" class="">Details</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" ng-click="openAjaxModal('modal-5', 'user/'+user.id);" class="">Edit</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" ng-click="openModal('modal-1')" class="">Disable</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" ng-click="openModal('modal-3')" class="">Delete</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="" ng-click="openModal('modal-4')" class="">Reset Password</a>
                        </li>

                    </ul>
                 </div>
                </td>

            </tr>



           </tbody>
        </table>

    </div>
</div>







<script type="text/ng-template" id="modal-1">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Disable User</h4>
    </div>

    <div class="modal-body">

        <h4>Are you sure you want to disable this user?</h4>
    </div>
            <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Yes</button>
    </div>

</script>

<script type="text/ng-template" id="modal-3">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete User</h4>
    </div>

    <div class="modal-body">

        <h4>Are you sure you want to Delete this user?</h4>
    </div>
    <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Yes</button>
    </div>

</script>

<script type="text/ng-template" id="modal-4">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reset Password</h4>
    </div>

    <div class="modal-body">

        <h4>Are you sure you want to Reset password for this user?</h4>
    </div>
    <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Yes</button>
    </div>

</script>



<script type="text/ng-template" id="modal-2">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Details</h4>
    </div>

    <div class="modal-body">
        <table class="table responsive">
            <thead>
            <tr>

                <th>User Name</th>
                <th>{{responseData.userName}}</th>
            </tr>
            </thead>

            <tbody>
            <tr>

                <td>First Name</td>
                <td>{{responseData.firstName}}</td>
            </tr>

            <tr>

                <td>Last Name</td>
                <td>{{responseData.lastName}}</td>
            </tr>

            <tr>

                <td>email</td>
                <td>{{responseData.emailId}}</td>
            </tr>

            <tr>

                <td>Contact No.</td>
                <td>{{responseData.contactNumber}}</td>
            </tr>

            <tr>

                <td>Alternate Contact</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <!--  <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>-->
    </div>

</script>




<script type="text/ng-template" id="modal-5">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit User Details</h4>
    </div>

    <div class="modal-body">

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="field-1" class="control-label">First Name</label>

                    <input type="text" ng-model="responseData.firstName" class="form-control" placeholder="First Name">
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="field-2" class="control-label">Last Name</label>

                    <input type="text" class="form-control" ng-model="responseData.lastName"  placeholder="Last Name">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="field-1" class="control-label">Contact No.</label>

                    <input type="text" ng-model="responseData.contactNumber" class="form-control" placeholder="Primary Conatact">
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="field-2" class="control-label">Alternate Contact</label>

                    <input type="text" class="form-control"  placeholder="Alternate contact">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-12">

                <div class="form-group">
                    <label for="field-3" class="control-label">Address</label>

                    <input type="text" ng-model="responseData.addressOne" class="form-control" id="field-3" placeholder="Address">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

                <div class="form-group">
                    <label for="field-4" class="control-label">City</label>

                    <input type="text" ng-model="responseData.city" class="form-control" id="field-4" placeholder="Pitsburg">
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    <label for="field-5" class="control-label">Country</label>

                    <input type="text" ng-model="responseData.country" class="form-control" id="field-5" placeholder="United States">
                </div>

            </div>

            <div class="col-md-4">

                <div class="form-group">
                    <label for="field-6" class="control-label">Zip</label>

                    <input type="text" ng-model="responseData.zipCode" class="form-control" id="field-6" placeholder="123456">
                </div>

            </div>
        </div>



    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>
    </div>
</script>