
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Technical Screener Details</h3>
               <div class="panel-options">
                <a href="" data-toggle="panel">
                    <span class="collapse-icon">&ndash;</span>
                    <span class="expand-icon">+</span>
                </a>
            </div>
            </div>

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-10">
                        <table class="table">
                            <thead>
                            <th style="width: 20%">Skill Type</th>
                            <th style="width: 40%">Skill Name</th>
                            <th style="width: 20%">Years</th>
                            <th style="width: 20%">Months</th>


                            </thead>
                            <tbody>
                            <tr data-ng-repeat="skill in allSkills">
                                <td>

                                    <select required="true" class="form-control" ng-model="skill.skillType">
                                        <option value="">Select</option>
                                        <option value="PrimarySkill">Primary Skill</option>
                                        <option value="SecondarySkill">Secondary Skill</option>
                                    </select>
                                </td>
                                <td><input required="true" type="text" class="form-control" ng-model="skill.skills" placeholder="Skill"></td>
                                <td><input required="true" type="number" min="0" class="form-control" ng-model="skill.years" placeholder="Years"></td>
                                <td><input required="true" type="number" min="0" class="form-control" ng-model="skill.months" placeholder="Months"></td>
                            </tr>


                            </tbody>

                        </table>
                            <input type="button" value="-" class="btn btn-danger pull-right" ng-click="removeRow();"/>
                            <input type="button" value="+" class="btn btn-primary addnew pull-right" ng-click="addNewRow();"/>

                        </div>

                    </div>

                </div>
                    </div>
            <div class="form-group-separator"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Expected Pay Range</label>
                <div class="col-sm-2">
                    <div class="input-group input-group-sm input-group-minimal">
	    					<span class="input-group-addon">
		    					<i class="linecons-money"></i>
			    			</span>
                        <input type="number" name="expectedPayRange" class="form-control" ng-model="newUser.expectedPayRangeFrom" placeholder="$ From"
                               inputmask data-is-regex="true" required="true" min="0">
                    </div>

                </div>
                <label style="text-align: center;margin-top: 5px;margin-left: -40px;margin-right: -40px;" class="col-sm-1">to</label>
                <div class="col-sm-2">
                    <div class="input-group input-group-sm input-group-minimal">
	    					<span class="input-group-addon">
		    					<i class="linecons-money"></i>
			    			</span>
                        <input type="number" name="expectedPayRange" class="form-control" ng-model="newUser.expectedPayRangeTo" placeholder="$ To"
                               inputmask data-is-regex="true" required="true" min="0">
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
