
    <div class="col-md-12">

        <div class="form-group">
            <label for="field-3" class="control-label">Primary Skills</label>

            <input type="text" ng-model="responseData.addressTwo" class="form-control" id="field-3" placeholder="Address">
        </div>

    </div>



    <div class="col-md-12">

        <div class="form-group">
            <label for="field-3" class="control-label">Secondary Skills</label>

            <input type="text" ng-model="responseData.addressTwo" class="form-control"  placeholder="Address">
        </div>

    </div>




    <div class="col-md-12">

        <div class="form-group">
            <label for="field-3" class="control-label">Expected Pay Range</label>

            <input type="text" ng-model="responseData.addressTwo" class="form-control"  placeholder="Address">
        </div>

    </div>


