
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Enter Technical Screener Details</h3>
                <!--    <div class="panel-options">
                        <a href="" data-toggle="panel">
                            <span class="collapse-icon">&ndash;</span>
                        <span class="expand-icon">+</span>
                    </a>

                </div>-->
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Primary skills</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                        <span class="input-group-addon">
                                            <i class="linecons-user"></i>
                                        </span>
                                <input type="text" name="primarySkills" ng-model="newUser.primarySkills" class="form-control" ng-maxlength="35" ng-minlength="1" ng-required="true"  placeholder="Primary Skills">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Secondary Skills</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-user"></i>
							</span>
                                <input type="text" class="form-control"ng-maxlength="35" ng-minlength="1" ng-required="true" ng-model="newUser.secondarySkills" name="secondarySkills" placeholder="Secondary Skills">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Expected Pay Range</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-user"></i>
							</span>
                                <input type="text" ng-model="newUser.expectedPayRange" name="expectedPayRange" class="form-control" placeholder="Pay Range"
                                       inputmask data-mask="[0-9]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
