<div class="modal-header">

    <h4 class="modal-title">Skills</h4>
</div>

<table class="table responsive">
    <tr>
        <th>Skills</th>
        <th>Skill type</th>
        <th>Experience</th>
    </tr>
<tr>
    <td>Java</td>
    <td>Primary Skills</td>
    <td>5 Years, 10 Months</td>
</tr>

<tr>
    <td>Angular</td>
    <td>Secondary Skills</td>
    <td>2 Years, 10 Months</td>
</tr>
    <tr>
        <td>NodeJs</td>
        <td>Secondary Skills</td>
        <td>1 Years, 4 Months</td>
    </tr>

</table>

        <table class="table responsive">
<tr>
    <td>Expected Pay Range</td>
    <td>2 Dollers</td>
</tr>
        </table>

