
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Technical Screener Details</h3>
               <div class="panel-options">
                <a href="" data-toggle="panel">
                    <span class="collapse-icon">&ndash;</span>
                    <span class="expand-icon">+</span>
                </a>
            </div>
            </div>

            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 control-label"></label>
                        <div class="col-sm-7">
                        <table class="table">
                            <thead>
                            <th>Skill Type</th>
                            <th>Skill Name</th>
                            <th>Years</th>
                            <th>Months</th>


                            </thead>
                            <tbody>
                            <tr data-ng-repeat="skill in allSkills">
                                <td width="150px">

                                    <select class="form-control" ng-model="skill.skillType">
                                        <option value="PrimarySkill">Primary Skill</option>
                                        <option value="SecondarySkill">Secondary Skill</option>
                                    </select>
                                </td>
                                <td><input type="text" class="form-control" ng-model="skill.skills" placeholder="Skill"></td>
                                <td><input type="number" class="form-control" ng-model="skill.years" placeholder="Years"></td>
                                <td><input type="number" class="form-control" ng-model="skill.months" placeholder="Months"></td>
                            </tr>


                            </tbody>

                        </table>
                            <input type="button" value="-" class="btn btn-danger pull-right" ng-click="removeRow();"/>
                            <input type="button" value="+" class="btn btn-primary addnew pull-right" ng-click="addNewRow();"/>

                        </div>

                    </div>

                </div>
                    </div>



<!--


                <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12" data-ng-repeat="primarySkills in newUserPrimarySkills">
                        <label class="col-sm-3 control-label" >Primary skills</label>
                        <div class="col-sm-5">
                            <input style="float: left; width: 50%" class="form-control" type="text" ng-model="primarySkills.skills" name="" placeholder="Primary Skills">
                            <input style="float: left; width: 25%" class="form-control" type="text"  ng-model="primarySkills.years" name="" placeholder="Years">
                            <input style="float: left; width: 25%" class="form-control" type="text"  ng-model="primarySkills.months" name="" placeholder="Months">
                            <br/>
                        </div>

                        </div>
                        <div style="float: right" class="col-sm-4">
                            <button class="addfields add_field_button btn btn-primary" ng-click="addNewChoice()">+</button>
                            <button class="remove add_field_button btn btn-primary" ng-click="removeChoice()">-</button>
                        </div>
                    </div>
                </div>
            </div>
-->

<!--


            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-12" data-ng-repeat="secondarySkills in newUserSecondarySkills">
                           &lt;!&ndash; <label ng-hide="newUserSecondarySkills.length >1" class="col-sm-3 control-label">Secondary skills</label>&ndash;&gt;
                            <label class="col-sm-3 control-label">Secondary skills</label>
                             <div class="col-sm-5">
                           &lt;!&ndash; {{newUserSecondarySkills.length}}&ndash;&gt;
                        <input style="float: left; width: 50%" class="form-control" type="text" ng-model="secondarySkills.skills" name="" placeholder="Secondary Skills">
                        <input style="float: left; width: 25%" class="form-control" type="text" ng-model="secondarySkills.years" name="" placeholder="Years">
                        <input style="float: left; width: 25%" class="form-control" type="text" ng-model="secondarySkills.months" name="" placeholder="Months">
                            <br/>
                        </div>
                        </div>


                        <div style="float: right" class="col-sm-4">
                        <button class="addfields add_field_button btn btn-primary" ng-click="addNewChoiceSec()">+</button>
                        <button class="remove add_field_button btn btn-primary" ng-click="removeChoiceSec()">-</button>
                        </div>

                    </div>
                    </div>
            </div>


-->

            <div class="form-group-separator"></div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Expected Pay Range</label>
                <div class="col-sm-5">
                    <div class="input-group input-group-sm input-group-minimal">
	    					<span class="input-group-addon">
		    					<i class="linecons-user"></i>
			    			</span>
                        <input type="text" name="lastName" class="form-control" ng-model="newUser.expectedPayRange" placeholder="$"
                               inputmask data-mask="[a-zA-Z][a-zA-Z ]*" data-is-regex="true" required="true">
                    </div>

                </div>
            </div>


        </div>
    </div>
</div>
