<page-title ng-if="layoutOptions.pageTitles" title="Create New Requirement" description=""></page-title>
<div ng-controller="createNewRequirementCtrl">
<script type="text/ng-template"></script>

<script>
    $(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper         = $(".input_fields_wrap"); //Fields wrapper
        var add_button      = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function(e){ //on add input button click
            e.preventDefault();
            if(x < max_fields){ //max input box allowed
                x++; //text box increment
                $(wrapper).append('' +

                        '<label style="margin-top: -7px;" class="col-sm-3 control-label"></label>' +
                        '<div style="margin-left: 257px; width: 38.4%;">' +
                        '   <input type="text" ng-model="newRequirement.primarySkills" class="form-control" ng-maxlength="35" ng-minlength="1" ng-required="true"  placeholder="Add more Primary Skill">' +
                        '       <a href="#" class="remove_field">Remove</a>' +

                        '</div>'); //add input box
            }
        });

        $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });
</script>

<script>
    $(document).ready(function() {
        var max_fields      = 10; //maximum input boxes allowed
        var wrapper2         = $(".input_fields_wrap2"); //Fields wrapper
        var add_button2      = $(".add_field_button2"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button2).click(function(e){ //on add input button click
            e.preventDefault();
            if(x < max_fields){ //max input box allowed
                x++; //text box increment
                $(wrapper2).append('' +

                        '<label style="margin-top: -7px;" class="col-sm-3 control-label"></label>' +
                        '<div style="margin-left: 257px; width: 38.4%;">' +
                        '   <input type="text" ng-model="newRequirement.secondarySkills" class="form-control" ng-maxlength="35" ng-minlength="1" ng-required="true"  placeholder="Add more Secondary Skill">' +
                        '       <a href="#" class="remove_field">Remove</a>' +

                        '</div>'); //add input box
            }
        });

        $(wrapper2).on("click",".remove_field", function(e){ //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });
</script>







<form role="form" name="newRequirementForm" class="form-horizontal" ng-submit="submitNewRequirement()">

<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">


<div class="panel-heading">
    <h3 class="panel-title">Enter Requirement Details</h3>

</div>





<div class="panel-body">

    <div class="form-group">
        <label class="col-sm-3 control-label">Select Client</label>

        <div class="col-sm-5">

            <select class="form-control" name="">
                <option>Accion Labs</option>
                <option>Deloitte</option>
                <option>Google Inc</option>
                <option>Genco</option>
                <option>IBM</option>

            </select>

        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Contact Person</label>

        <div class="col-sm-5">
            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-user"></i>
                                    </span>
                <input type="text" name="firstName" class="form-control" ng-model="newRequirement.contactPerson" placeholder=""
                       inputmask data-mask="[a-zA-Z][a-zA-Z ]*" data-is-regex="true" required="true">
            </div>
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Priority</label>

        <div class="col-sm-5">

            <select class="form-control" name="" ng-model="newRequirement.priority">
                <option>High</option>
                <option>Medium</option>
                <option>Low</option>
            </select>

        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Type of Requirement</label>

        <div class="col-sm-5">

            <select class="form-control" name="" ng-model="newRequirement.typeOfRequirement">
                <option>Contract</option>
                <option>Contract to Hire</option>
                <option>Full Time</option>
            </select>
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Job Title</label>

        <div class="col-sm-5">
            <div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-star"></i>
							</span>
                <input type="text" name="lastName" ng-model="newRequirement.jobTitle" class="form-control" ng-model="newRequirement.lastName" placeholder="Job Title"
                       inputmask data-mask="[a-zA-Z][a-zA-Z ]*" data-is-regex="true" required="true">
            </div>

        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Add Required Skills</label>
        <div class="col-sm-5">
            <table class="table">
                <thead>
                <th>Skill Type</th>
                <th>Skill Name</th>
                </thead>
                <tbody>
                <tr data-ng-repeat="skill in allSkills">
                    <td width="150px">

                        <select class="form-control" ng-model="skill.skillType">
                            <option value="PrimarySkill">Primary Skill</option>
                            <option value="SecondarySkill">Secondary Skill</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control" ng-model="skill.skills" placeholder="Skill"></td>

                </tr>


                </tbody>

            </table>
            <input type="button" value="-" class="btn btn-danger pull-right" ng-click="removeRow();"/>
            <input type="button" value="+" class="btn btn-primary addnew pull-right" ng-click="addNewRow();"/>

        </div>

    </div>


    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Duration</label>

        <div class="col-sm-3">
            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-calendar"></i>
                                    </span>
                <input type="text" name="addressOne" class="form-control" placeholder=""
                       inputmask data-mask="[0-9]*" ng-model="newRequirement.duration" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
            </div>
        </div>

        <div class="col-sm-2">

            <select class="form-control" name="role" ng-model="newRequirement.contactPerson" >

                <option>Years</option>
                <option>Months</option>
                <option>Weeks</option>
                <option>Days</option>
            </select>
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Job Description</label>

        <div class="col-sm-5">

                <textarea rows="5" type="text" name="addressOne" class="form-control" placeholder="Enter Job Description"
                       inputmask data-is-regex="true" ng-model="newRequirement.jobDescription" ng-maxlength="35" ng-minlength="1" ng-required="true"></textarea>

        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">No. of Open Requirement</label>

        <div class="col-sm-5">
            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-tag"></i>
                                    </span>
                <input type="text" name="" class="form-control"  placeholder="No of Open Req"
                       inputmask data-mask="[0-9]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true" ng-model="newRequirement.openRequirements">
            </div>
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Bill Rate</label>

        <div class="col-sm-3">
            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-money"></i>
                                    </span>
                <input type="text" name="addressOne" class="form-control" placeholder=""
                       inputmask data-mask="[0-9]*" ng-model="newRequirement.billRate" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
            </div>
        </div>

        <div class="col-sm-2">

            <select class="form-control" name="role" >

                <option>Per Hour</option>
                <option>Per Day</option>
                <option>Per Week</option>
                <option>Per Month</option>
                <option>Per Year</option>
            </select>
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Pay Rate</label>

        <div class="col-sm-3">
            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-money"></i>
                                    </span>
                <input type="text" name="addressOne" class="form-control" placeholder=""
                       inputmask data-mask="[0-9]*" data-is-regex="true" ng-model="newRequirement.payRate" ng-maxlength="35" ng-minlength="1" ng-required="true">
            </div>
        </div>

        <div class="col-sm-2">

            <select class="form-control" name="role" >

                <option>Per Hour</option>
                <option>Per Day</option>
                <option>Per Week</option>
                <option>Per Month</option>
                <option>Per Year</option>
            </select>
        </div>
    </div>
    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Start Date</label>

        <div class="col-sm-5">
            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-calendar"></i>
                                    </span>
                <input type="text" ng-model="newRequirement.startDate" class="form-control datepicker" data-start-date="d" name="startDate" data-format="dd-mm-yyyy" >
            </div>
        </div>
    </div>

    <div class="form-group-separator"></div>

</div>
</div>
</div>
</div>



<div class="row">
    <div class="col-sm-12">

        <div class="panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">Address (Optional)</h3>

            </div>

            <div class="panel-body">
                <div class="form-horizontal">



                    <div class="form-group">
                        <label class="col-sm-3 control-label">Client Location</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-location"></i>
                                    </span>
                                <input type="text" ng-model="newRequirement.clientLocation" name="addressOne" class="form-control" placeholder="Street Address, P.O.Box, Company Name, C/o"
                                       inputmask data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Broadcast Location</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-location"></i>
                                    </span>
                                <input type="text" name="addressOne" class="form-control" placeholder="Street Address, P.O.Box, Company Name, C/o"
                                       inputmask data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true" ng-model="newRequirement.broadcastLocation">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Address Line 1</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-location"></i>
                                    </span>
                                <input type="text" name="addressOne" ng-model="newRequirement.addressOne" class="form-control" placeholder="Street Address, P.O.Box, Company Name, C/o"
                                       inputmask data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Address Line 2</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-location"></i>
                                    </span>
                                <input type="text" name="addressTwo" ng-model="newRequirement.addressTwo" class="form-control" placeholder="Apartment, Suit, Unit, Building, Floor, etc"
                                       inputmask data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Zip Code</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-location"></i>
                                    </span>
                                <input type="text" ng-model="newRequirement.zipCode" name="zipCode" class="form-control"  placeholder="Zipcode"
                                       inputmask data-mask="[0-9]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-location"></i>
                                    </span>
                                <input ng-model="newRequirement.city" name="city" type="text" class="form-control" placeholder="City"
                                       inputmask data-mask="[a-zA-Z]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >State</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-location"></i>
                                    </span>
                                <input ng-model="newRequirement.state" name="state" type="text" class="form-control" placeholder="State"
                                       inputmask data-mask="[a-zA-Z]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Country</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                        <span class="input-group-addon">
                                            <i class="linecons-globe"></i>
                                        </span>
                                <input type="text" ng-model="newRequirement.country" name="country" class="form-control"  placeholder="Country"
                                       inputmask data-mask="[a-zA-Z]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align: center;">
                <input class="btn btn-info btn-icon" type="submit" value="Submit"/>
                <input type="button" class="btn btn-warning btn-icon" ng-click="resetRequirementForm();" value="Reset">
            </div>
        </div>
    </div>
</div>

</form>

</div>