

<page-title ng-if="layoutOptions.pageTitles" title="Users" description=""></page-title>
<style>
    body {
        width: 98%;
    }
    .clickableRow {
        cursor: pointer;
    }
    p, textarea {
        font-variant: small-caps !important;
        text-rendering: auto;
    }
    td, th {
        font-size: 8pt;
    }
    table {
        padding: 0px;

    }
    .modal-backdrop {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: -1000px;
        background-color: #000;
    }
    .sort-indicator {

        float: right;
    }

</style>

<!-- Custom column filtering -->
<div class="panel panel-default" ng-controller="viewAllRequirementsCtrl" ng-cloak >


    <!--panel started here-->
    <div class="panel-heading">
        <h3 class="panel-title">Showing All Users</h3>

    </div>
    <div class="panel-body">



        <table  ng-table="requirementsTable" show-filter="true" class="table table-striped table-bordered" id="example-3">

            <tr ng-repeat="user in data">

                <td data-title="'Requisition #'" sortable="'positionId'" filter="{ 'positionId': 'text' }">
                    {{user.positionId}}</td>
                <td data-title="'Requirement Name'" sortable="'jobTitle'" filter="{ 'jobTitle': 'text' }">
                    {{user.jobTitle}}</td>
                <td data-title="'Client Name'" sortable="'clientName'" filter="{ 'clientName': 'text' }">
                    {{user.clientName}}</td>
                <td data-title="'Skills'" sortable="'primarySkill'" filter="{ 'primarySkill': 'text' }">
                    {{user.primarySkill}}</td>
                <td data-title="'Created By'" sortable="'createdBy'" filter="{ 'createdBy': 'text' }">
                    {{user.createdBy}}</td>
                <td data-title="'Priority'" sortable="'priority'" filter="{ 'priority': 'text' }">
                    {{user.priority}}</td>
                <td data-title="'Current Status'" sortable="'status'" filter="{ 'status': 'text' }">
                    {{user.status}}</td>


                <td data-title="'Actions'">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-gray dropdown-toggle" style="font-size: 11px;">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-gray" role="menu" style="font-size: 11px;">
                            <li>
                                <a href="" ng-click="openAjaxModal('modal-2','user/'+user.id)" class="">Details</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="" ng-click="openAjaxModal('modal-5', 'user/'+user.id);" class="">Edit</a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="index.html#/app/candidates-Display-Candidates" ng-click="" class="">Candidates</a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="" ng-click="" class="">Add Resources</a>
                            </li>

                            <li class="divider"></li>
                            <li>
                                <a href="" ng-click="openAjaxModal('modal-4','user/'+user.id)" class="">Close Requirement</a>
                            </li>

                        </ul>
                    </div>
                </td>

            </tr>

        </table>

    </div>
</div>







<script type="text/ng-template" id="modal-1">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title" ng-show="responseData.enabled==true">Disable User</h4>
        <h4 class="modal-title" ng-show="responseData.enabled==false">Enable User</h4>
    </div>

    <div class="modal-body">

        <h4 ng-show="responseData.enabled==true">Are you sure you want to disable this user: {{responseData.firstName}}?</h4>
        <h4 ng-show="responseData.enabled==false">Are you sure you want to enable this user: {{responseData.firstName}}?</h4>
    </div>
    <br/>

    <div class="modal-footer">

        <button type="button" class="btn btn-info" ng-click="enableDisableUser(responseData.id,responseData.enabled);">Yes</button>
        <button type="button" class="btn btn-red" ng-click="currentModal.close();">No</button>
    </div>

</script>







<script type="text/ng-template" id="modal-4">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Close</h4>
    </div>

    <div class="modal-body">

        <h4>Are you sure you want to Close this position?</h4>
    </div>
    <br/>

    <div class="modal-footer">

        <button type="button" class="btn btn-info" ng-click="resetUserPassword(responseData.id);">Yes</button>
        <button type="button" class="btn btn-red" ng-click="currentModal.close();">No</button>
    </div>

</script>



<script type="text/ng-template" id="modal-2">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Requirement Details</h4>
    </div>

    <div class="modal-body">
        <table class="table responsive">
            <thead>
            <tr>

                <th>Requirement Name</th>
                <th>Java Developer</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Client</td>
                <td>Accion Labs</td>
            </tr>
            <tr>
                <td>Contact Person</td>
                <td>Sandesh Sukumaran</td>
            </tr>
            <tr>
                <td>Priority</td>
                <td>High</td>
            </tr>
            <tr>
                <td>Job Description</td>
                <td>Having Good knowledge in Spring, Hibernate</td>
            </tr>
            <tr>
                <td>Open Requirements</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td>5 Years</td>
            </tr>
            <tr>
                <td>Start Date</td>
                <td>12/1/2017</td>
            </tr>
            <tr>
                <td>Bill Rate</td>
                <td>$100</td>
            </tr>
            <tr>
                <td>Pay Rate</td>
                <td>$80</td>
            </tr>
            <tr>
                <td>Client Location</td>
                <td>Varthur</td>
            </tr>
            <tr>
                <td>Broadcast Location</td>
                <td>Whitefield</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>Accion Labs, 7th Floor, Gamma Block,<br/>
                    Sigma Soft Tech Park, Varthur Kodi,<br/>
                    Bangalore - 560066<br/>
                    Karnataka, India
                </td>
            </tr>
            </tbody>
        </table>

        <div class="modal-header">
            <h4 class="modal-title">Required Skills</h4>
        </div>

        <table class="table responsive">
            <thead>
            <tr>
                <th>Skill Type</th>
                <th>Skills</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Primary Skill</td>
                    <td>Spring</td>
                </tr>
                <tr>
                    <td>Primary Skill</td>
                    <td>Hibernate</td>
                </tr>
                <tr>
                    <td>Secondary Skill</td>
                    <td>AngularJs</td>
                </tr>

            </tbody>
        </table>

        <!--<div ng-if="responseData.role=='TechnicalScreener'"
             ng-include src="'app/views/users/tsSkillsDetails_tpl.html'"></div>-->
    </div>
    <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <!--  <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>-->
    </div>

</script>




<script type="text/ng-template" id="modal-5">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit Requirement for Java Developer</h4>
    </div>

    <form ng-submit="updateUser();" name="editUser" role="form" class="form-horizontal" >
        <div class="modal-body">

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-1" class="control-label">Priority</label>

                        <select class="form-control" name="">
                            <option>High</option>
                            <option>Medium</option>
                            <option>Low</option>
                        </select>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-2" class="control-label">Requirement Type</label>

                        <select class="form-control" name="">
                            <option>Contract</option>
                            <option>Contract to Hire</option>
                            <option>Full Time</option>
                        </select>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-1" class="control-label">Job Title</label>

                        <input type="text" ng-model="responseData.contactNumber" class="form-control" placeholder="Job Title">
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-2" class="control-label">Open Requirements</label>

                        <input type="text" class="form-control"  placeholder="No. of open requirements">
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-1" class="control-label">Start Date</label>

                        <input type="text" class="form-control datepicker" data-start-date="d" name="startDate" data-format="dd-mm-yyyy" >
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-2" class="control-label">Duration</label>

                        <input type="text" class="form-control"  placeholder="Duration of the project">
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-1" class="control-label">Bill Rate</label>


                            <input style="width: 60%" type="text" name="addressOne" class="form-control" placeholder=""
                                       inputmask data-mask="[0-9]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">

                            <select style="width: 40%" class="form-control" name="role" >
                                <option>Per Hour</option>
                                <option>Per Day</option>
                                <option>Per Week</option>
                                <option>Per Month</option>
                                <option>Per Year</option>
                            </select>

                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-1" class="control-label">Pay Rate</label>
                            <input style="width: 60%" type="text" name="addressOne"
                                   class="form-control" placeholder=""
                                   inputmask data-mask="[0-9]*" data-is-regex="true"
                                   ng-maxlength="35" ng-minlength="1" ng-required="true">

                            <select style="width: 40%" class="form-control" name="role" >
                                <option>Per Hour</option>
                                <option>Per Day</option>
                                <option>Per Week</option>
                                <option>Per Month</option>
                                <option>Per Year</option>
                            </select>

                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-1" class="control-label">Client Location</label>

                        <input type="text" class="form-control" placeholder="Client Location">
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-2" class="control-label">Broadcast Location</label>

                        <input type="text" class="form-control"  placeholder="Broadcast Location">
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-3" class="control-label">Address 1</label>

                        <textarea rows="4" type="text" ng-model="responseData.addressOne" class="form-control" placeholder="Street Address, P.O.Box, Company Name, C/o"></textarea>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-group">
                        <label for="field-3" class="control-label">Address 2</label>

                        <textarea rows="4" type="text" ng-model="responseData.addressTwo" class="form-control" placeholder="Apartment, Suit, Unit, Building, Floor, etc"></textarea>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-md-3">

                    <div class="form-group">
                        <label for="field-4" class="control-label">City</label>

                        <input type="text" ng-model="responseData.city" class="form-control" id="field-4" placeholder="Pitsburg">
                    </div>

                </div>

                <div class="col-md-3">

                    <div class="form-group">
                        <label for="field-4" class="control-label">State</label>

                        <input type="text" ng-model="responseData.city" class="form-control" id="field-4" placeholder="CA">
                    </div>

                </div>

                <div class="col-md-3">

                    <div class="form-group">
                        <label for="field-5" class="control-label">Country</label>

                        <input type="text" ng-model="responseData.country" class="form-control" id="field-5" placeholder="United States">
                    </div>

                </div>

                <div class="col-md-3">

                    <div class="form-group">
                        <label for="field-6" class="control-label">Zip</label>

                        <input type="text" ng-model="responseData.zipCode" class="form-control" id="field-6" placeholder="123456">
                    </div>

                </div>

            </div>

            <div class="row">
                <div ng-if="responseData.role=='TechnicalScreener'" ng-include src="'app/views/users/tsSkillsEditView_tpl.html'"></div>
            </div>




        </div>

        <div class="modal-footer">

            <!--  <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>-->
            <input type="submit" class="btn btn-info" value="Save changes">
            <input type="button" class="btn btn-red" ng-click="currentModal.close();" value="Cancel">
        </div>
    </form>
</script>