<page-title ng-if="layoutOptions.pageTitles" title="Create New Client" description=""></page-title>
<div ng-controller="createNewClientCtrl">
<script type="text/ng-template"></script>



<form role="form" name="newClientForm" class="form-horizontal" ng-submit="submitNewClient()">

<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Enter Client Details</h3>
</div>

<div class="panel-body">
    <div class="form-group">
        <label class="col-sm-3 control-label">Client Name</label>
        <div class="col-sm-5">
            <div class="input-group input-group-sm input-group-minimal">
                <span class="input-group-addon">
                    <i class="linecons-user"></i>
                </span>
                <input type="text" name="clientName" class="form-control" ng-model="newClient.clientName"
                       placeholder="Client Name"
                       inputmask data-mask="[a-zA-Z][a-zA-Z ]*" data-is-regex="true" required="true">
            </div>
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Industry</label>
        <div class="col-sm-5">
            <select class="form-control" name="role" ng-options="" ng-model="newClient.industry" ng-change="">
                <option>Information Technology</option>
                <option>Human Resource</option>
                <option>Other</option>
            </select>
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Engagement Model</label>
        <div class="col-sm-5">
            <select class="form-control" name="role" ng-options="" ng-model="newClient.engagementModel" ng-change="">
                <option>Full Time</option>
                <option>Contract</option>
                <option>Contract to Hire</option>
                <option>Other</option>
            </select>
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Federal Id</label>
        <div class="col-sm-5">
            <div class="input-group input-group-sm input-group-minimal">
                <span class="input-group-addon">
                    <i class="linecons-doc"></i>
                </span>
                <input type="text" ng-model="newClient.federalId" name="Federal Id" class="form-control"
                       placeholder="Federal Id"
                       inputmask data-mask="[0-9]*" data-is-regex="true"
                       ng-maxlength="35" ng-minlength="1" ng-required="true">
            </div>
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Contact number</label>
        <div class="col-sm-5">
            <div class="input-group input-group-sm input-group-minimal">
    			<span class="input-group-addon">
					<i class="linecons-mobile"></i>
				</span>
                <input type="text" class="form-control" ng-required="true" inputmask data-mask="phone"
                       ng-model="newClient.contactNumber" name="contactNumber"
                       ng-blur="checkContactNumberExist(newUser.contactNumber)" />
            </div>
            <!--<div ng-show="contactNumberExist" style="color: red;">{{contactNumberErrorMessage}}</div>-->
        </div>
    </div>

    <div class="form-group-separator"></div>

    <div class="form-group">
        <label class="col-sm-3 control-label">Fax Number</label>
        <div class="col-sm-5">
            <div class="input-group input-group-sm input-group-minimal">
                <span class="input-group-addon">
                    <i class="linecons-mobile"></i>
                </span>
                <input type="text" class="form-control"
                       ng-maxlength="35" ng-minlength="1" ng-model="newClient.faxNumber"
                       name="alternateContact" inputmask data-mask="phone" />
            </div>
        </div>
    </div>

    <div class="form-group-separator"></div>
</div>
</div>
</div>
</div>
<!-- first part-->

<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Address (Optional)</h3>
</div>
<div class="panel-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-3 control-label">Address Line 1</label>
                <div class="col-sm-5">
                    <div class="input-group input-group-sm input-group-minimal">
                        <span class="input-group-addon">
                            <i class="linecons-truck"></i>
                        </span>
                        <input type="text" name="addressOne" ng-model="newClient.addressOne"
                               class="form-control" placeholder="Street Address, P.O.Box, Company Name, C/o"
                               inputmask data-mask="[a-zA-Z][a-zA-Z ][0-9]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                    </div>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label" >Address Line 2</label>
                <div class="col-sm-5">
                    <div class="input-group input-group-sm input-group-minimal">
                        <span class="input-group-addon">
                            <i class="linecons-truck"></i>
                        </span>
                        <input type="text" name="addressTwo" ng-model="newClient.addressTwo" class="form-control"
                               placeholder="Apartment, Suit, Unit, Building, Floor, etc"
                               inputmask data-mask="[a-zA-Z][a-zA-Z ][0-9]*" data-is-regex="true"
                               ng-maxlength="35" ng-minlength="1" ng-required="true">
                    </div>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                <label class="col-sm-3 control-label">Zip Code</label>
                <div class="col-sm-5">
                    <div class="input-group input-group-sm input-group-minimal">
                        <span class="input-group-addon">
                            <i class="linecons-location"></i>
                        </span>
                        <input type="text" ng-model="newClient.zipCode" name="zipCode" class="form-control"
                               placeholder="Zipcode" inputmask data-mask="[0-9]*" data-is-regex="true"
                               ng-maxlength="35" ng-minlength="1" ng-required="true">
                    </div>
                </div>
            </div>

            <div class="form-group-separator"></div>

            <div class="form-group">
                        <label class="col-sm-3 control-label">City</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-location"></i>
                                    </span>
                                <input ng-model="newClient.city" name="city" type="text" class="form-control" placeholder="City"
                                       inputmask data-mask="[a-zA-Z]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >State</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-location"></i>
                                    </span>
                                <input ng-model="newClient.state" name="state" type="text" class="form-control" placeholder="State"
                                       inputmask data-mask="[a-zA-Z]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Country</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                        <span class="input-group-addon">
                                            <i class="linecons-globe"></i>
                                        </span>
                                <input type="text" ng-model="newClient.country" name="country" class="form-control"  placeholder="Country"
                                       inputmask data-mask="[a-zA-Z]*" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Website</label>

                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                        <span class="input-group-addon">
                                            <i class="linecons-tv"></i>
                                        </span>
                                <input type="text" ng-model="newClient.websitw" name="country" class="form-control"
                                       placeholder="www.abc.com"
                                       inputmask data-mask="[a-zA-Z.]*" data-is-regex="true"
                                       ng-maxlength="35" ng-minlength="1" ng-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Contact Person Detais</h3>
            </div>
            <div class="panel-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">First Name</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-user"></i>
                                    </span>
                                <input type="text" name="firstName" class="form-control" ng-model="newClient.firstName" placeholder="First Name"
                                       inputmask data-mask="[a-zA-Z][a-zA-Z ]*" data-is-regex="true" required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Last Name</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-user"></i>
							</span>
                                <input type="text" name="lastName" class="form-control" ng-model="newClient.lastName" placeholder="Last Name"
                                       inputmask data-mask="[a-zA-Z][a-zA-Z ]*" data-is-regex="true" required="true">
                            </div>
                            <ng-messages>
                            </ng-messages>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">User Name</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-user"></i>
							</span>
                                <input type="text" name="userName" class="form-control" ng-model="newClient.userName" placeholder="User Name"
                                       inputmask data-mask="^[a-zA-Z0-9]*$" data-is-regex="true" ng-maxlength="35" ng-minlength="1" ng-required="true"  ng-blur="checkUserExist(newUser.userName)">
                            </div>
                            <!--<div ng-show="userNameExist" style="color: red;">{{userNameErrorMessage}}</div>-->
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Email Id</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-mail"></i>
							</span>
                                <input type="email" class="form-control" name="emailId" ng-model="newClient.emailId" placeholder="Enter your email Id" ng-maxlength="35" ng-minlength="1" ng-required="true" ng-blur="checkEmailExist(newUser.emailId)">
                            </div>
                            <!--<div ng-show="emailExist" style="color: red;">{{emailErrorMessage}}</div>-->
                        </div>
                    </div>

                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Contact number</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
							<span class="input-group-addon">
								<i class="linecons-mobile"></i>
							</span>
                                <input type="text" class="form-control" data-mask="phone"
                                       ng-required="true" ng-model="newClient.contactNumber" name="contactNumber"
                                       ng-blur="checkContactNumberExist(newUser.contactNumber)" />
                            </div>
                            <!--<div ng-show="contactNumberExist" style="color: red;">{{contactNumberErrorMessage}}</div>-->
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Alternate Contact</label>
                        <div class="col-sm-5">
                            <div class="input-group input-group-sm input-group-minimal">
                                    <span class="input-group-addon">
                                        <i class="linecons-mobile"></i>
                                    </span>
                                <input type="text" class="form-control"
                                       ng-maxlength="35" ng-minlength="1" ng-model="newClient.alternateContact"
                                       name="alternateContact" inputmask data-mask="phone" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label"></label>
                        <div class="col-sm-5">
                            <input type="checkbox" class="cbr" name="" value="" ng-model="newClient.sendUserEmail"/>
                            <label>Activate this Contact Person</label>
                        </div>
                    </div>

                    <div class="form-group-separator"></div>


                </div>
            </div>
        </div>
    </div>
</div>
    {{newClient}}


<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body" style="text-align: center;">
                <input class="btn btn-info btn-icon" type="submit" value="Submit"/>
                <input type="button" class="btn btn-warning btn-icon" ng-click="resetUserForm();" value="Reset">
            </div>
        </div>
    </div>
</div>


</form>

</div>