


<page-title ng-if="layoutOptions.pageTitles" title="Clients" description=""></page-title>
<style>
    body {
        width: 98%;
    }
    .clickableRow {
        cursor: pointer;
    }
    p, textarea {
        font-variant: small-caps !important;
        text-rendering: auto;
    }
    td, th {
        font-size: 8pt;
    }
    table {
        padding: 0px;

    }
    .modal-backdrop {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: -1000px;
        background-color: #000;
    }

</style>

<!-- Custom column filtering -->
<div class="panel panel-default" ng-controller="viewAllUserCtrl" ng-cloak >
    <!--panel started here-->
    <div class="panel-heading">
        <h3 class="panel-title">Showing All Clients</h3>
    </div>
    <div class="panel-body">
        <table  ng-table="usersTable" show-filter="true" class="table table-striped table-bordered" id="example-3">

            <tr ng-repeat="user in data">

                <td data-title="'Client Name'" sortable="'clientName'" filter="{ 'clientName': 'text' }">
                    {{user.firstName}}</td>
                <td data-title="'Engagement Model'" sortable="'engagementModel'" filter="{ 'engagementModel': 'text' }">
                    {{user.lastName}}</td>
                <td data-title="'Federal Id'" sortable="'federalId'" filter="{ 'federalId': 'text' }">
                    {{user.userName}}</td>
                <td data-title="'City'" sortable="'city'" filter="{ 'city': 'text' }">
                    {{user.emailId}}</td>
                <td data-title="'Contact Number'" sortable="'contactNumber'" filter="{ 'contactNumber': 'text' }">
                    {{user.contactNumber}}</td>

                <td data-title="'Actions'">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-gray dropdown-toggle" style="font-size: 11px;">
                            Action <span class="caret"></span>
                        </button>

                        <ul class="dropdown-menu dropdown-gray" role="menu" style="font-size: 11px;">
                            <li>
                                <a href="" ng-click="openAjaxModal('modal-2','user/'+user.id)" class="">Client Details</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="" ng-click="openAjaxModal('modal-6','user/'+user.id)" class="">Contact Details</a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="" ng-click="openAjaxModal('modal-5', 'user/'+user.id);" class="">Edit</a>
                            </li>

                            <li class="divider"></li>

                            <li ng-show="user.enabled==true">
                                <a href="" ng-click="openAjaxModal('modal-1','user/'+user.id)" class="">Disable</a>
                            </li>


                            <li ng-show="user.enabled==false">
                                <a href="" ng-click="openAjaxModal('modal-1','user/'+user.id)" class="">Enable</a>
                            </li>

                            <!--<li class="divider"></li>
                            <li>
                                <a href="" ng-click="openModal('modal-3')" class="">Delete</a>
                            </li>-->
                            <li class="divider"></li>
                            <li>
                                <a href="" ng-click="openAjaxModal('modal-4','user/'+user.id)" class="">Reset Password</a>
                            </li>

                        </ul>
                    </div>
                </td>

            </tr>

        </table>

    </div>
</div>






<script type="text/ng-template" id="modal-1">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Activate User</h4>
    </div>

    <div class="modal-body">

        <h4>Are you sure you want to Activate this Client?</h4>
    </div>
    <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Yes</button>
    </div>

</script>

<script type="text/ng-template" id="modal-3">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Delete Client</h4>
    </div>

    <div class="modal-body">

        <h4>Are you sure you want to Delete this Client?</h4>
    </div>
    <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Yes</button>
    </div>

</script>

<script type="text/ng-template" id="modal-4">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Reset Password</h4>
    </div>

    <div class="modal-body">

        <h4>Are you sure you want to Reset password for this user?</h4>
    </div>
    <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Yes</button>
    </div>

</script>

<script type="text/ng-template" id="modal-2">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Details</h4>
    </div>

    <div class="modal-body">
        <table class="table responsive">
            <thead>
            <tr>
                <th>Client Name</th>
                <th>Sandesh Sukumaran</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Industry</td>
                <td>Information Technology</td>
            </tr>
            <tr>
                <td>Engagement Model</td>
                <td>Full Time</td>
            </tr>
            <tr>
                <td>Contact No.</td>
                <td>9844580058</td>
            </tr>
            <tr>
                <td>Alternate Contact</td>
                <td>NA</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>Accion Labs, 7th Floor, Gamma Block,<br/>
                    Sigma Soft Tech Park, Varthur Kodi,<br/>
                    Bangalore - 560066<br/>
                    Karnataka, India
                </td>
            </tr>
            <tr>
                <td>Website</td>
                <td>www.accionlabs.com</td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <!--  <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>-->
    </div>

</script>

<script type="text/ng-template" id="modal-6">

    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Client Contacts</h4>
    </div>

    <div class="modal-body">
        <table class="table responsive">
            <thead>
            <tr>

                <th>Name</th>
                <th>Azhar Liaquat</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>User Name</td>
                <td>azhar99</td>
            </tr>
            <tr>
                <td>email</td>
                <td>azhar.liaquat@accionlabs.com</td>
            </tr>
            <tr>
                <td>Contact No.</td>
                <td>9844580058</td>
            </tr>
            <tr>
                <td>Alternate Contact</td>
                <td>NA</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>Accion Labs, 7th Floor, Gamma Block,<br/>
                    Sigma Soft Tech Park, Varthur Kodi,<br/>
                    Bangalore - 560066<br/>
                    Karnataka, India
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <!--  <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>-->
    </div>

</script>


<script type="text/ng-template" id="modal-5">
    <div class="modal-header">
        <button type="button" class="close" ng-click="currentModal.close();" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Edit User Details</h4>
    </div>

    <div class="modal-body">

        <div class="row">
           <!-- <div class="col-md-3">
            </div>-->
            <div class="col-md-12">

                <div class="form-group">
                    <label for="field-1" class="control-label">Client Name</label>

                    <input type="text" class="form-control" placeholder="First Name">
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Engagement Model</label>

                    <select class="form-control" name="role" ng-options="" ng-model="" ng-change="">
                        <option>Full Time</option>
                        <option>Contract</option>
                        <option>Contract to Hire</option>
                        <option>Other</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Industry</label>

                        <select class="form-control" name="role" ng-options="" ng-model="" ng-change="">
                            <option>Information Technology</option>
                            <option>Human Resource</option>
                            <option>Other</option>
                        </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="field-1" class="control-label">Contact No.</label>
                    <input type="text" class="form-control" placeholder="Primary Conatact">
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="field-2" class="control-label">Fax Number</label>
                    <input type="text" class="form-control"  placeholder="Alternate contact">
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <label for="field-3" class="control-label">Address 1</label>

                    <textarea rows="4" type="text" ng-model="responseData.addressOne" class="form-control" placeholder="Street Address, P.O.Box, Company Name, C/o"></textarea>
                </div>

            </div>

            <div class="col-md-6">

                <div class="form-group">
                    <label for="field-3" class="control-label">Address 2</label>

                    <textarea rows="4" type="text" ng-model="responseData.addressTwo" class="form-control" placeholder="Apartment, Suit, Unit, Building, Floor, etc"></textarea>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-3">

                <div class="form-group">
                    <label for="field-4" class="control-label">City</label>

                    <input type="text" ng-model="responseData.city" class="form-control" id="field-4" placeholder="Pitsburg">
                </div>

            </div>

            <div class="col-md-3">

                <div class="form-group">
                    <label for="field-4" class="control-label">State</label>

                    <input type="text" ng-model="responseData.city" class="form-control" id="field-4" placeholder="CA">
                </div>

            </div>

            <div class="col-md-3">

                <div class="form-group">
                    <label for="field-5" class="control-label">Country</label>

                    <input type="text" ng-model="responseData.country" class="form-control" id="field-5" placeholder="United States">
                </div>

            </div>

            <div class="col-md-3">

                <div class="form-group">
                    <label for="field-6" class="control-label">Zip</label>

                    <input type="text" ng-model="responseData.zipCode" class="form-control" id="field-6" placeholder="123456">
                </div>

            </div>

        </div>


    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-white" ng-click="currentModal.close();">Close</button>
        <button type="button" class="btn btn-info" ng-click="currentModal.dismiss();">Save changes</button>
    </div>
</script>