
<div class="login-header" style="text-align: center;">
    <a href="" class="logo">
        <img src="assets/images/logo@2x.jpg" alt="" width="280" />
        <!-- <span>log in</span>-->
    </a>

    <!-- <p>Please enter your credentials</p>-->
</div>

<div ng-controller="LoginCtrl">






    <div class="login-container">

        <div class="row">




            <div class="col-sm-6" style="margin-left: 250px;">

                <script type="text/javascript">
                    jQuery(document).ready(function($)
                    {
                        // Reveal Login form
                        setTimeout(function(){ $(".fade-in-effect").addClass('in'); }, 1);


                        // Validation and Ajax action
                        $("form#login").validate({
                            rules: {
                                username: {
                                    required: true
                                },

                                passwd: {
                                    required: true
                                }
                            },

                            messages: {
                                username: {
                                    required: 'Please enter your username.'
                                },

                                passwd: {
                                    required: 'Please enter your password.'
                                }
                            },

                            // Form Processing via AJAX
                            submitHandler: function(form)
                            {
                                showLoadingBar(70); // Fill progress bar to 70% (just a given value)

                                var opts = {
                                    "closeButton": true,
                                    "debug": false,
                                    "positionClass": "toast-top-full-width",
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };

                                $.ajax({
                                    url: "data/login-check.php",
                                    method: 'POST',
                                    dataType: 'json',
                                    data: {
                                        do_login: true,
                                        username: $(form).find('#username').val(),
                                        passwd: $(form).find('#passwd').val(),
                                    },
                                    success: function(resp)
                                    {
                                        showLoadingBar({
                                            delay: .5,
                                            pct: 100,
                                            finish: function(){

                                                // Redirect after successful login page (when progress bar reaches 100%)
                                                if(resp.accessGranted)
                                                {
                                                    window.location.hash = '#/app/dashboard-variant-1';
                                                    //$('body').removeClass('login-page login-light lockscreen-page');
                                                }
                                                else
                                                {
                                                    toastr.error("You have entered wrong password, please try again. User and password is <strong>demo/demo</strong> :)", "Invalid Login!", opts);
                                                    $(form).find('#passwd').select();
                                                }
                                            }
                                        });

                                    }
                                });

                            }
                        });

                        // Set Form focus
                        $("form#login .form-group:has(.form-control):first .form-control").focus();
                    });
                </script>

                <!-- Errors container -->
                <div class="errors-container">


                </div>

                <!-- Add class "fade-in-effect" for login form effect -->
                <form method="post" role="form" id="login" class="login-form fade-in-effect">

                    <div class="form-group" ng-show="errorMessageShow">
                        {{errorMessage}}
                    </div>


                    <div class="form-group">
                        <label class="control-label" for="username"></label>
                        <input placeholder="Username or Email-Id" type="text" ng-model="userName" class="form-control input-dark" name="username" id="username" autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <label class="control-label" for="passwd"></label>
                        <input placeholder="Password" type="password" ng-model="password" class="form-control input-dark" name="passwd" id="passwd" autocomplete="off" />
                    </div>

                    <div class="form-group">
                        <button type="submit" data-ng-click="submitUserLoginForm();" class="btn btn-default  btn-block text-left">
                            <i class="fa-lock"></i>
                            Log In
                        </button>
                    </div>

                    <div class="login-footer">
                        <a href="">Forgot your password?</a>



                    </div>

                </form>



            </div>

        </div>

    </div>
</div>

